<div class="menu_background-color">
    <div class="menu_background">
        <header class="menu_header clearfix">
            <div class="menu_header_left">
                <div class="menu_button orange">
                    <a href="/order/top">
                        <p>トップへ</p>
                    </a>
                </div>
            </div>
            <div class="menu_button_right">
                <div class="menu_button orange">
                    <a href="#">
                        <p>会計</p>
                    </a>
                </div>
                <div class="menu_button orange">
                    <a href="#">
                        <p>呼出</p>
                    </a>
                </div>
                <div class="menu_button orange">
                    <a href="#">
                        <p>未注文</p>
                    </a>
                </div>
                <div class="menu_button orange">
                    <a href="#">
                        <p>注文済</p>
                    </a>
                </div>
            </div>
        </header>
        <div class="menu_category">
                <div class="menu_button orange">
                    <a href="#">
                        <p>セット</p>
                    </a>
                </div>
                <div class="menu_button">
                    <a href="/order/alacarte_menu">
                        <p>一品料理</p>
                    </a>
                </div>
                <div class="menu_button">
                    <a href="/order/noodle_menu">
                        <p>麺類</p>
                    </a>
                </div>
                <div class="menu_button">
                    <a href="/order/rice_menu">
                        <p>ご飯類</p>
                    </a>
                </div>
                <div class="menu_button">
                    <a href="/order/dessert_menu">
                        <p>デザート</p>
                    </a>
                </div>
                <div class="menu_button">
                    <a href="/order/drink_menu">
                        <p>ドリンク</p>
                    </a>
                </div>
        </div>
        <div class="line">
            <h2></h2>
        </div>
        <!--セットメニューに関わる部分-->
        <div class="menu_category2">
            <ul>
                <li id="category11" class="selected">
                    <p>ボリューム</p>
                </li>
                <li id="category12">
                    <p class="double">ランチ・<br>おすすめ</p>
                </li>
                <li id="category13">
                    <p>ユニーク</p>
                </li>
            </ul>
        </div>
        <div class="menu_indiv clearfix">
            <div class="category11">
                <% @menus1.each do |menu| %>
                    <div class="menu_indiv_block">
                        <div class="menu_indiv_block2">
                            <%= link_to (order_indiv_url(menu.id)) do %>
                                <img src=<%= menu.image %> alt="">
                                <div class="menu_indiv_name">
                                    <%= menu.name %>
                                </div>
                            <%end%>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="category12">
                <% @menus2.each do |menu| %>
                    <div class="menu_indiv_block">
                        <%= link_to (order_indiv_url(menu.id)) do %>
                            <div class="menu_indiv_block2">
                                <img src=<%= menu.image %> alt="">
                                <div class="menu_indiv_name">
                                    <%= menu.name %>
                                </div>
                            </div>
                        <%end%>                            
                    </div>
                <% end %>
            </div>
            <div class="category13">
                <% @menus3.each do |menu| %>
                    <div class="menu_indiv_block">
                        <%= link_to (order_indiv_url(menu.id)) do %>
                            <div class="menu_indiv_block2">
                                <img src=<%= menu.image %> alt="">
                                <div class="menu_indiv_name">
                                    <%= menu.name %>
                                </div>
                            </div>
                        <%end%>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
